<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- Controller Beans -->
	
	<bean id="loginController" class="com.cas.controller.LoginController">
	</bean>
	<bean id="registerController" class="com.cas.controller.RegisterController">
	</bean>
	<bean id="fileController" class="com.cas.controller.FileController">
	</bean>
	<bean id="projectController" class="com.cas.controller.ProjectController">
	</bean>
	<bean id="workbenchController" class="com.cas.controller.WorkbenchController">
	</bean>
	<bean id="serverController" class="com.cas.controller.ServerController">
	</bean>
	
	<!-- Delegate Beans -->
	<bean id="loginDelegate" class="com.cas.delegate.LoginDelegate">
		<property name="loginService" ref="loginService"></property>
	</bean>
	<bean id="registerDelegate" class="com.cas.delegate.RegisterDelegate">
		<property name="registerService" ref="registerService"></property>
	</bean>
	<bean id="fileDelegate" class="com.cas.delegate.FileDelegate">
		<property name="fileService" ref="fileService"></property>
	</bean>
	<bean id="projectDelegate" class="com.cas.delegate.ProjectDelegate">
		<property name="projectService" ref="projectService"></property>
	</bean>
	<bean id="workbenchDelegate" class="com.cas.delegate.WorkbenchDelegate">
		<property name="workbenchService" ref="workbenchService"></property>
	</bean>
	<bean id="serverDelegate" class="com.cas.delegate.ServerDelegate">
		<property name="serverService" ref="serverService"></property>
	</bean>
	
	
	<!-- Service Beans -->
	<bean id="loginService" class="com.cas.service.impl.LoginServiceImpl">
		<property name="loginDao" ref="loginDao"></property>
	</bean>
	<bean id="registerService" class="com.cas.service.impl.RegisterServiceImpl">
		<property name="registerDao" ref="registerDao"></property>
	</bean>
	<bean id="fileService" class="com.cas.service.impl.FileServiceImpl">
		<property name="fileDao" ref="fileDao"></property>
	</bean>
	<bean id="projectService" class="com.cas.service.impl.ProjectServiceImpl">
		<property name="projectDao" ref="projectDao"></property>
	</bean>
	<bean id="workbenchService" class="com.cas.service.impl.WorkbenchServiceImpl">
		<property name="workbenchDao" ref="workbenchDao"></property>
	</bean>
	<bean id="serverService" class="com.cas.service.impl.ServerServiceImpl">
		<property name="serverDao" ref="serverDao"></property>
	</bean>
	
		
	<!-- DAO Beans -->
	<bean name="loginDao" class="com.cas.dao.impl.LoginDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean name="registerDao" class="com.cas.dao.impl.RegisterDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean name="projectDao" class="com.cas.dao.impl.ProjectDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean name="workbenchDao" class="com.cas.dao.impl.WorkbenchDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean name="serverDao" class="com.cas.dao.impl.ServerDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean name="fileDao" class="com.cas.dao.impl.FileDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- Main Data source bean -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.1.171:3306/casdb" />
		<property name="username" value="casuser" />
		<property name="password" value="usercas" />
	</bean>

</beans>